@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1280px;
  height: auto;
  margin: 0 auto;
  border: 1px solid red;
}

.BOOK,
.MD {
  height: 340px;
}

h3 {
  align-self: flex-start;
}

.btnArea {
  position: relative;
}

.buttonbox {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.buttonbox button {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

ul {
  display: flex;
}

.sub {
  display: none;
}

li {
  margin: 0 10px;
}

#headerbox {
  border-bottom: 1px solid gray;
  height: 110px;
}
#headerbox header {
  height: 110px;
}

#headertop {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headerbottom {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#headerbottom .search-wrapper {
  border-radius: 5px;
  width: 280px;
  height: 45px;
  background-color: rgb(235, 235, 235);
  border-style: none;
  text-align: center;
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 (필요한 경우) */
  gap: 25px; /* 아이콘과 input 사이 간격 */
}
#headerbottom .search-wrapper #search-input {
  border-style: none;
  background-color: rgb(235, 235, 235);
}

#AllCat {
  margin-left: 690px;
}

#s1SBox {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#s1SBox .s1slider {
  background-color: bisque;
  width: 1280px;
  height: 300px;
  overflow: hidden;
}
#s1SBox .s1slider .s1sliderybox {
  width: 7224px;
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#s1SBox .s1slider .s1sliderybox .contents {
  background-color: chocolate;
  width: 1032px;
  height: 250px;
}

#buttonbox {
  background-color: aqua;
  width: 800px;
  height: 100px;
}
#buttonbox nav {
  display: flex;
  justify-content: space-between;
}
#buttonbox nav p {
  position: relative;
  top: 50px;
  font-size: 1rem;
  text-align: center;
}

.circlebutton {
  width: 75px;
  height: 75px;
  background-color: dimgray;
  border-radius: 50%;
  position: relative;
}

#book1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#book1 > div {
  height: 285px;
  width: 1280px;
  background-color: rgb(84, 156, 132);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book1 > div .arryboxslider {
  background-color: bisque;
  width: 1280px;
  height: 250px;
  overflow: hidden;
}
#book1 > div .arryboxslider .arrybox {
  width: 2560px;
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book1 > div .arryboxslider .arrybox > div {
  background-color: chocolate;
  width: 198px;
  height: 250px;
  margin: 0 29px;
}

#book2 {
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#book2 h4 {
  font-size: 1.5rem;
}
#book2 > div {
  height: 310px;
  width: 1280px;
  background-color: rgb(84, 156, 132);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book2 > div .book2boxslider {
  background-color: bisque;
  width: 1280px;
  height: 280px;
  overflow: hidden;
}
#book2 > div .book2boxslider .book2box {
  width: 1920px;
  background-color: aqua;
  display: flex;
}
#book2 > div .book2boxslider .book2box .book2box2 {
  background-color: chocolate;
  width: 262px;
  height: 280px;
  margin: 0 29px;
}

#book3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#book3 .book3-1 {
  height: 285px;
  width: 1280px;
  background-color: rgb(84, 156, 132);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book3 .book3-1 .mdslider {
  background-color: bisque;
  width: 1280px;
  height: 250px;
  overflow: hidden;
}
#book3 .book3-1 .mdslider .mdbox {
  width: 2133.333px;
  height: 250px;
  background-color: aqua;
  display: flex;
  align-items: center;
}
#book3 .book3-1 .mdslider .mdbox .mdbox1 {
  width: 368.666px;
  height: 200px;
  margin: 0 29px;
  background-color: chocolate;
}

#book4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#book4 > div {
  height: 285px;
  width: 1280px;
  background-color: rgb(84, 156, 132);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book4 > div .arryboxslider {
  background-color: bisque;
  width: 1280px;
  height: 250px;
  overflow: hidden;
}
#book4 > div .arryboxslider .arrybox {
  width: 2560px;
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book4 > div .arryboxslider .arrybox > div {
  background-color: chocolate;
  width: 198px;
  height: 250px;
  margin: 0 29px;
}

#book5 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#book5 > div {
  height: 285px;
  width: 1280px;
  background-color: rgb(84, 156, 132);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book5 > div .arryboxslider {
  background-color: bisque;
  width: 1280px;
  height: 250px;
  overflow: hidden;
}
#book5 > div .arryboxslider .arrybox {
  width: 2560px;
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book5 > div .arryboxslider .arrybox > div {
  background-color: chocolate;
  width: 198px;
  height: 250px;
  margin: 0 29px;
}

#book6 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#book6 .eventarry {
  height: 200px;
  width: 1280px;
  background-color: rgb(84, 156, 132);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book6 .eventarry .eslider {
  background-color: bisque;
  width: 1280px;
  height: 130px;
  overflow: hidden;
}
#book6 .eventarry .eslider .ebox {
  width: 1706.666px;
  height: 130px;
  background-color: aqua;
  display: flex;
  align-items: center;
}
#book6 .eventarry .eslider .ebox .ebox1 {
  width: 397.6666px;
  height: 130px;
  margin: 0 29px;
  background-color: chocolate;
}

#book7 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#book7 .eventarry {
  height: 200px;
  width: 1280px;
  background-color: rgb(84, 156, 132);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book7 .eventarry .eslider {
  background-color: bisque;
  width: 1280px;
  height: 130px;
  overflow: hidden;
}
#book7 .eventarry .eslider .ebox {
  width: 1706.666px;
  height: 130px;
  background-color: aqua;
  display: flex;
  align-items: center;
}
#book7 .eventarry .eslider .ebox .ebox1 {
  width: 397.6666px;
  height: 130px;
  margin: 0 29px;
  background-color: chocolate;
}