@charset "UTF-8";
:root {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btnArea {
  position: relative;
}

.buttonbox {
  position: absolute;
  top: 46%;
  left: -16px;
  width: 103%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.buttonbox button {
  border-radius: 150px;
  height: 40px;
  width: 40px;
  pointer-events: auto;
  background-color: rgba(134, 134, 134, 0.5);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.leftbutton {
  transform: rotate(180deg);
}

.wrap {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

#mainleft {
  width: 75%;
}
#mainleft #BD {
  height: 852px;
  width: 95%;
  background-color: blanchedalmond;
  margin: 0 auto;
}
#mainleft #BD .BDBottomInnerBox:nth-of-type(5) ul li {
  margin-left: 50px !important;
}
#mainleft #BD .BDBottomInnerBox:nth-of-type(6) ul li {
  margin-left: 62px !important;
}
#mainleft #BD .unuse {
  color: rgb(201, 201, 201) !important;
}
#mainleft #BD #BDTop {
  display: flex;
}
#mainleft #BD #BDTop #bookimgbox {
  width: 35%;
}
#mainleft #BD #BDTop #bookinfobox {
  width: 65%;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop {
  background-color: aqua;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop #Category {
  display: flex;
  margin: 10px 0;
  font-weight: 550;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop #Category li {
  color: #808080;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop #SubCategory::before {
  content: ">";
  margin-left: 10px;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop h3 {
  font-size: 2.3rem;
  margin: 5px 0;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop > p {
  font-size: 0.9rem;
  color: #808080;
  margin: 5px 0;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop #Rating {
  display: flex;
  font-size: 0.99rem;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop #RatingNo,
#mainleft #BD #BDTop #bookinfobox #bookinfoTop .star {
  color: rgb(235, 80, 80);
  font-weight: 600;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop #RatingNo::after {
  content: "(30)";
  color: #808080;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop .Interest::before {
  content: " |";
  margin-left: 5px;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop .Interest {
  color: #808080;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop .infoP {
  font-weight: 600;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop .infoP span {
  font-weight: 400;
  margin-left: 5px;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop #InterBTN {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: solid 0.5px #1e9eff;
  color: #1e9eff;
  width: 68px;
  gap: 4px;
  height: 32px;
  font-size: 1rem;
  font-weight: 500;
  margin: 14px 0;
  justify-content: center;
  padding-bottom: 2px;
  background-color: white;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoTop #InterBTN svg {
  width: 15px;
  height: 15px;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE {
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 100%;
  border-top: solid 0.5px rgba(120, 120, 120, 0.3);
  border-bottom: solid 0.5px rgba(120, 120, 120, 0.3);
  margin-bottom: 20px;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE .arrow1 {
  margin-left: auto;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE a {
  width: 100%;
  position: relative;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE a div {
  padding: 5px 10px 5px 5px;
  font-weight: 500;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE a span {
  position: absolute;
  right: 0px;
  top: 6px;
  color: #787878;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE a .arrow1 {
  top: 13px;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE .BinfoEName {
  padding: 5px 7px;
  width: 60px;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE .BinfoEName span {
  width: 80%;
  font-size: 0.8rem;
  height: 20px;
  background-color: aqua;
  text-align: center;
  padding: 3px;
  border-radius: 10%;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE .BinfoE1 .BinfoEName:nth-child(1) > span {
  background-color: #E4E0F6;
  color: #5D3FC3;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE .BinfoE2 .BinfoEName:nth-child(1) > span {
  background-color: #F3EAD0;
  color: #A87F24;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE .BinfoE1 {
  display: flex;
  height: 70%;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE .BinfoE1 ul {
  display: flex;
  flex-direction: column;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE .BinfoE1 ul li:nth-child(2) {
  border-top: solid 0.5px rgba(120, 120, 120, 0.3);
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE .BinfoE1 ul li {
  width: 100%;
}
#mainleft #BD #BDTop #bookinfobox #bookinfoBottom .BinfoE .BinfoE2 {
  border-top: solid 0.5px rgba(120, 120, 120, 0.3);
  display: flex;
  height: 30%;
}
#mainleft #BD #BinfoP {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid rgba(120, 120, 120, 0.3);
  border-bottom: 1px solid rgba(120, 120, 120, 0.3);
}
#mainleft #BD #BinfoP #BinfoPL {
  width: 20%;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(120, 120, 120, 0.3);
  background-color: rgba(120, 120, 120, 0.3);
}
#mainleft #BD #BinfoP #BinfoPR {
  width: 80%;
  margin-left: 10px;
}
#mainleft #BD #BinfoP #BinfoPR #discount1::before {
  content: "29%↓";
  font-size: 0.9rem;
  color: rgb(235, 80, 80);
  font-weight: 700;
}
#mainleft #BD #BinfoP #BinfoPR #discount2::before {
  content: "10%↓";
  font-size: 0.9rem;
  color: rgb(235, 80, 80);
  font-weight: 700;
}
#mainleft #BD #BinfoP .BinfoPR3 {
  display: flex;
  justify-content: space-between;
}
#mainleft #BD #EventP {
  text-align: right;
  font-size: 0.85rem;
  font-weight: 300;
  color: #808080;
  margin: 10px 0;
}
#mainleft #BD #BinfoB {
  text-align: right;
  margin: 20px 0px 20px 192px;
  display: flex;
  width: 401px;
  align-items: flex-end;
  justify-content: space-between;
}
#mainleft #BD #BinfoB .BinfoBButton {
  width: 50px;
  height: 50px;
  font-size: 1.7rem;
  font-weight: 200;
  color: rgb(31, 31, 31);
  border: solid 0.2px rgba(120, 120, 120, 0.3);
  border-radius: 5px;
  background-color: transparent;
}
#mainleft #BD .BinfoBButton1 {
  width: 220px;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #1e9eff;
  border: none;
  margin-top: -35px;
}
#mainleft #BD #BDBottom {
  background-color: rgb(241, 241, 241);
  border: 0.06px solid rgb(204, 204, 204);
  border-radius: 10px;
  height: 188px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}
#mainleft #BD #BDBottom > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: -4px;
  justify-content: space-between;
}
#mainleft #BD #BDBottom > ul > li {
  font-size: 0.75rem;
  display: flex;
  width: 37%;
  align-items: center;
  font-weight: 600;
  color: rgb(37, 37, 37);
  margin-top: -13px;
}
#mainleft #BD #BDBottom > ul > li > ul {
  display: flex;
  flex-direction: row;
  width: 269px;
  justify-content: space-around;
  flex-wrap: wrap;
}
#mainleft #BD #BDBottom > ul > li > ul > li {
  font-size: 0.8rem;
  width: 152px;
  margin-left: 15px;
  display: flex;
  font-weight: 500;
  color: rgb(90, 90, 90);
  align-items: center;
}
#mainleft #BD #BDBottom > ul > li > ul > li svg {
  font-size: 1rem;
}

#Description {
  width: 95%;
  height: 6900px;
  margin: 0 auto;
}
#Description h5 {
  font-size: 1.4rem;
  font-weight: 400;
}
#Description h4 {
  font-size: 1.5rem;
  font-weight: 550;
}
#Description #ContentInfoUL {
  position: relative;
  height: 5400px;
  width: 100%;
  display: flex;
  margin: 20px 0;
  border-top: solid 1.5px rgb(54, 54, 54);
  background-color: #9ac2a2;
}
#Description #ContentInfoUL .More {
  width: 910px;
  height: 60px;
  background-color: inherit;
  border: solid 0.2px rgba(120, 120, 120, 0.3);
  border-radius: 5px;
}
#Description #ContentInfoUL .More span {
  font-size: 1.1rem;
  font-weight: 600;
}
#Description #ContentInfoUL #subtxt0 p,
#Description #ContentInfoUL #subtxt1 p,
#Description #ContentInfoUL #subtxt2 p {
  font-size: 0.95rem;
  text-align: left;
  font-weight: 400;
  line-height: 1.6;
  margin: 14px 0;
  color: rgb(36, 36, 36);
}
#Description #ContentInfoUL > li > ul {
  display: none;
}
#Description #ContentInfoUL > li:nth-child(1) {
  border-right: solid 1px #808080;
  border-bottom: solid 1px #808080;
}
#Description #ContentInfoUL li:nth-child(2) {
  border-right: solid 1px #808080;
  border-bottom: solid 1px #808080;
}
#Description #ContentInfoUL li:nth-child(3) {
  border-bottom: solid 1px #808080;
}
#Description #ContentInfoUL > li {
  width: 33.333333333%;
  text-align: center;
  height: 60px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 60px;
  color: #808080;
  background-color: rgba(120, 120, 120, 0.3);
}
#Description #ContentInfoUL > li > ul > li:nth-child(1) {
  position: absolute;
  top: 70px;
  left: 0px;
}
#Description #ContentInfoUL > li > ul > li:nth-child(1) img {
  width: 911px;
}
#Description #AuthorInfoUL {
  height: 500px;
  width: 100%;
  display: flex;
  margin: 20px 0;
  border-top: solid 1.5px rgb(54, 54, 54);
  position: relative;
}
#Description #AuthorInfoUL > li:nth-child(1) {
  border-right: solid 1px #808080;
  border-bottom: solid 1px #808080;
}
#Description #AuthorInfoUL > li {
  width: 50%;
  text-align: center;
  height: 60px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 60px;
  color: #808080;
  background-color: rgba(120, 120, 120, 0.3);
}
#Description #AuthorInfoUL > li > ul {
  width: 200%;
  height: 100%;
}
#Description #AuthorInfoUL > li > ul > li {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #cfc0a0;
  top: 70px;
  left: 0px;
}

#subtxt3 {
  height: 500PX;
}
#subtxt3 .newsBTN {
  display: flex;
  border-radius: 50px;
  border: solid 0.5px #1e9eff;
  color: #1e9eff;
  width: 174px;
  gap: 4px;
  height: 32px;
  font-size: 1rem;
  font-weight: 500;
  margin: 14px 10px;
  padding-bottom: 2px;
  background-color: white;
  align-items: center;
}
#subtxt3 .newsBTN svg {
  width: 15px;
  height: 15px;
  margin-bottom: -2px;
  margin-left: -2px;
}
#subtxt3 h4 {
  font-weight: 700;
}
#subtxt3 > div {
  display: flex;
}
#subtxt3 > ul {
  text-align: left;
  display: flex;
  flex-direction: column;
}
#subtxt3 > ul > li {
  font-size: 0.95rem;
  position: relative;
  color: #808080;
}
#subtxt3 > ul > li ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 60PX;
}
#subtxt3 > ul > li ul li {
  height: 18PX;
  font-size: 0.94rem;
  font-weight: 380;
  color: rgb(56, 56, 56);
}
#subtxt3 .update1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#subtxt3 .update1 p {
  color: #a5a5a5;
  font-size: 1rem;
  font-weight: 400;
}
#subtxt3 .update1 button {
  margin-left: 10px;
  padding: 2px 3px 6px 5px;
  height: 25px;
  font-size: 0.78rem;
  color: #808080;
  border: 0.5px solid #808080;
  background-color: inherit;
  border-radius: 5px;
  font-weight: 700;
}

#subtxt4 p, #subtxt5 p {
  font-size: 0.95rem;
  text-align: left;
  font-weight: 400;
  line-height: 1.6;
  margin: 14px 0;
  color: rgb(36, 36, 36);
}

#review {
  width: 95%;
  margin: 0 auto;
}
#review h4 {
  font-size: 1.5rem;
  font-weight: 550;
}
#review #reviewtop {
  margin: 20px 0;
}
#review #reviewtop #reviewtop1 {
  border-bottom: solid 1px #808080;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
#review #reviewtop #reviewtop1 h3 {
  font-size: 3rem;
  margin-right: 10px;
}
#review #reviewtop #reviewtop1 > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#review #reviewtop #reviewtop1 > div > div {
  font-size: 1rem;
}
#review #reviewtop #reviewtop1 > div .BuyerStar {
  display: flex;
  color: rgb(235, 80, 80);
}

#RatingDist {
  display: flex;
  flex-direction: column;
  color: #808080;
  font-weight: 500;
}

#reviewtop2 {
  text-align: center;
}
#reviewtop2 h5 {
  font-size: 1.1rem;
  margin: 20px 0;
}
#reviewtop2 > div:nth-child(2) {
  margin: 20px auto;
  width: 29%;
  display: flex;
}
#reviewtop2 > div:nth-child(2) svg {
  width: 50px;
}
#reviewtop2 > div:nth-child(3) {
  width: 95%;
  margin: 0 auto;
  position: relative;
}
#reviewtop2 > div:nth-child(3) > input:nth-child(1) {
  width: 100%;
  height: 150px;
  text-align: justify;
  padding-bottom: 101px;
  padding-left: 16px;
  font-size: 1.05rem;
  border: 0.5px solid rgba(120, 120, 120, 0.3);
  border-radius: 5px;
}
#reviewtop2 > div:nth-child(3) #SpoilerChk {
  position: absolute;
  bottom: 10px;
  left: 17px;
}
#reviewtop2 > div:nth-child(3) #SpoilerChk .SpoilerTxT {
  color: #808080;
}
#reviewtop2 > div:nth-child(3) #SpoilerChk input {
  display: none;
}
#reviewtop2 > div:nth-child(3) #SpoilerChk .circle {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: relative;
  margin-right: 6px;
  vertical-align: middle;
}
#reviewtop2 > div:nth-child(3) #SpoilerChk .circle span {
  color: #808080;
}
#reviewtop2 > div:nth-child(3) #SpoilerChk .circle-check input:checked + .circle::after {
  content: "✔";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #1e9eff;
}
#reviewtop2 > div:nth-child(3) button {
  position: absolute;
  bottom: 13px;
  width: 85px;
  right: 18px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgba(85, 84, 84, 0.3);
  color: #f8f8f8;
  font-weight: 700;
}

#reviewtop3 {
  margin: 20px 0;
}
#reviewtop3 > div {
  width: 100%;
  background-color: #A87F24;
  height: 350px;
}

#reviewbottom {
  border-top: solid 1.5px rgb(54, 54, 54);
  margin: 20px 0;
}
#reviewbottom #reviewtop4BTN {
  margin: 20px 0;
}
#reviewbottom #reviewtop4BTN button {
  height: 40px;
  padding: 9px;
  margin: 0 5px;
  border-radius: 20px;
  border: none;
  font-size: 1.02rem;
  font-weight: 500;
  color: #808080;
}

#UserRating > div:first-of-type {
  width: 100px;
}
#UserRating > div:first-of-type svg {
  width: 13px;
  color: rgb(235, 80, 80);
}
#UserRating > p {
  font-size: 0.8 0.5rem;
  margin: 10px 0;
}
#UserRating > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
#UserRating > div p:first-of-type {
  font-size: 0.6rem;
  border: 0.2px solid #808080;
  width: 31px;
  padding-left: 0.9px;
  color: #808080;
  border-radius: 2px;
}
#UserRating .nickname {
  font-size: 0.75rem;
  color: #808080;
  margin-left: 3px;
  margin-bottom: 2px;
}
#UserRating #UserRatingBottom {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(120, 120, 120, 0.3);
  padding-bottom: 15px;
}
#UserRating #UserRatingBottom button {
  width: 50px;
  font-size: 0.74rem;
  color: #808080;
  height: 30px;
  border-radius: 5px;
  border: 0.2px solid rgba(120, 120, 120, 0.3);
  background-color: inherit;
}
#UserRating .date {
  font-size: 0.8rem;
  color: #808080;
  font-weight: 600;
}
#UserRating .date + span {
  font-size: 0.8rem;
  color: #808080;
  font-weight: 500;
  margin-left: 5px;
}

.page1 ul {
  display: flex;
  justify-content: center;
}
.page1 ul li {
  margin: 5px 5px;
  color: #808080;
  font-weight: 600;
}

#AuthorWorks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#AuthorWorks > div {
  height: 230px;
  width: 912px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#AuthorWorks > div .arryboxslider {
  width: 912px;
  height: 220px;
  overflow: hidden;
}
#AuthorWorks > div .arryboxslider .arrybox {
  width: 1824.2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#AuthorWorks > div .arryboxslider .arrybox .bookbox {
  background-color: aqua;
  width: 174.2px;
  height: 200px;
  margin: 0 5px;
}
#AuthorWorks > div .arryboxslider .arrybox .bookbox h4 {
  text-align: left;
  padding-left: 8px;
}
#AuthorWorks > div .arryboxslider .arrybox .bookbox p {
  text-align: left;
  padding-left: 28px;
}

#book1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#book1 > div {
  height: 230px;
  width: 912px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book1 > div .arryboxslider {
  width: 912px;
  height: 220px;
  overflow: hidden;
}
#book1 > div .arryboxslider .arrybox {
  width: 1824.2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book1 > div .arryboxslider .arrybox .bookbox {
  background-color: aqua;
  width: 174.2px;
  height: 200px;
  margin: 0 5px;
}
#book1 > div .arryboxslider .arrybox .bookbox h4 {
  text-align: left;
  padding-left: 8px;
}
#book1 > div .arryboxslider .arrybox .bookbox p {
  text-align: left;
  padding-left: 28px;
}

#book2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#book2 > div {
  height: 230px;
  width: 912px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book2 > div .arryboxslider {
  width: 912px;
  height: 220px;
  overflow: hidden;
}
#book2 > div .arryboxslider .arrybox {
  width: 1824.2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#book2 > div .arryboxslider .arrybox .bookbox {
  background-color: aqua;
  width: 174.2px;
  height: 200px;
  margin: 0 5px;
}
#book2 > div .arryboxslider .arrybox .bookbox h4 {
  text-align: left;
  padding-left: 8px;
}
#book2 > div .arryboxslider .arrybox .bookbox p {
  text-align: left;
  padding-left: 28px;
}

#mainright {
  width: 25%;
  border-left: 1px solid rgba(120, 120, 120, 0.3);
}
#mainright #Lank {
  margin: 0 0 10px 30px;
}
#mainright #Lank ul {
  font-weight: 700;
}
#mainright #Lank ul li {
  margin-top: 5px;
}
#mainright #Lank ul li span:first-child {
  margin-right: 20px;
  color: rgb(235, 80, 80);
}
#mainright #Lank ul li span:first-child + span {
  font-weight: 400;
  color: #808080;
}