// 컬러
$Lidi: #1e9eff;

#headerbox {
   border-bottom: 1px solid gray;
   height: 120px;

   header {
      height: 120px;
   }

   ul {
      font-weight: 800;
      font-size: 1rem;
   }
   
ul {
   display: flex;
}

.sub {
   display: none;
}

li {
   margin: 0 10px;
}
}

#headertop {
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   ul {display: flex;
      font-weight: 800;
   }
   
}

#headerbottom {
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   ul {
      font-weight: 700;
   }

   .search-wrapper {

      border-radius: 5px;
      width: 280px;
      height: 45px;
      background-color: rgb(235, 235, 235);
      border-style: none;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
      margin-left: 30px;
      margin-bottom: 9px;

      .search-icon {
         color: $Lidi;
      }

      #search-input {
         border-style: none;
         background-color: rgb(235, 235, 235);
         outline: none;
         caret-color: $Lidi;


      }
   }
}
// 배너
#banner {
   div {
      background-color: $Lidi;
      border-radius: 100%;
      width: 140px;
         height: 135px;
         background-image: url(../img/banner.png);
         position: relative;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         
            a {
               text-align: center;
         
               p {
                  color: #fff;
                  font-weight: 500;
                  font-size: 1.2rem;
                  margin-top: -10px;
                   transition: transform 0.2s ease;
               }
            p:hover { 
  animation: shake 0.3s ease-in-out;
}
            }
         }
         
         width: 200px;
         height: 200px;
      position: fixed;
      z-index: 10;
      top: 750px;
      right: 40px;
   
        button:hover{border: none !important ; cursor: pointer;}
      button {
         all: unset;
      
        
         float: right;
         margin-right: 55px;
         margin-top: -15px;
         font-weight: 600;
         color: #333;
      }
      }
// 푸터
#footerbox {
   // 전체UL하위들공통
ul {
   display: flex;
}

.sub {
   display: none;
}

li {
   margin: 0 10px;
}
   height: 300px;
   border-top: 1px solid black;

   footer {
      height: 100%;
      padding: 30px;
      display: flex;
      font-size: 0.8rem;
      overflow: hidden;

      #footerleft {
         width: 50%;

         #snsbox {
            .snsul {
               margin-bottom: 50px;
               margin-top: 15px;

               .snsli {
                  &:hover {
                     border: 1px solid #1e9eff;
                  }

                  width: 50px;
                  height: 50px;
                  text-align: center;
                  border: 0.5px solid rgb(185, 184, 184);
                  border-radius: 100px;
                  padding-top: 9px;

                  svg {
                     path {
                        margin: auto 0;
                     }
                  }
               }
            }
         }

         nav {
            margin: 10px 0;

            a::before {
               content: "";
               display: inline-block;
               background: rgb(240, 240, 240);
               width: 1px;
               height: 9px;
               margin: 2px 6px;
            }

            a:hover {
               color: #aaa8a8;
            }

         }

         #BRN {
            span {
               display: inline-flex;

               svg {
                  transform: rotate(90deg);

                  transition: transform 0.3s ease;

                  margin: 2px 0 0 3px;
               }
            }

            .hi {
               display: none;
            }
         }
      }

      #footerright {
         width: 50%;
         color: #1e9eff;

      }

   }
}

#footermain {
   text-align: left;
   ;
   display: flex;
   justify-content: space-evenly;


   .footersub {
      display: flex;
      flex-direction: column;

      >li {
         margin: 2px 0;

         &:nth-of-type(2)a svg {
            color: #1e9eff;



            margin-left: 3px;

            text-align: center;
            vertical-align: baseline;
         }

         a:hover {
            color: #aaa8a8;
         }
      }
   }
}
      @keyframes shake {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-2px); }
  50%  { transform: translateX(2px); }
  75%  { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}