:root{
   font-size: 15px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: inherit;;
}

a {
   text-decoration: none;
   color: black;
}

ul,
li,
ol {
   list-style: none;
   margin: 0;
   padding: 0;
}
