*{margin: 0;padding: 0; box-sizing: border-box; font-size: 15px;}
a{
   text-decoration: none;
   color: black;
}
ul,
li,
ol {
   list-style: none;
   margin: 0;
   padding: 0;
}
.BOOK{height: 340px;}